// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    background-color: $gray;
}

.header {
	width: 100%;
}

h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    color: $black;
}

h2 {
    font-size: 4rem;
}

p {
    color: $black;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 1.4rem;
}

.logo {
    max-width: 350px;
    margin: 0 auto;
    display: block;
}

#menu-home {
    font-size: 3.5rem;
    font-family: "Poppins", sans-serif;
}

.about-content {
    background: #fff;
    background: linear-gradient(45deg,$red 40%, #fff 40%);
    padding: 80px 0;
   
}

.red-home {

    // background-image: url(../imgs/transparent-big.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: right center;
}

.about-text {
    padding: 60px 120px;
    background-color: #fff;
}

.projects-content {
    background-color: $yellow;
    padding: 80px 0;
}

.projects-text {
    padding: 60px 120px;
    background-color: #fff;
    margin-left: 30px;
}

.project-row {
    height: 100%;
}

.project {
    margin: 0 auto 30px auto;
    padding-bottom: 100%;
    border: 10px solid #fff;
    text-align: center;
  }
  
// .project:before {
//     content: "";
//     display: block;
//     padding-bottom: 100%;
//     border: 10px solid #fff;
//   }

  .project a {

  }