// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
body {
    background-color: $gray;
}

#main-nav {
    padding: 0;
    margin: 0;
}

.header {
	width: 100%;
    margin: 0;
}

.header .col-md-4 {
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    padding: 0;
}

.white-row {
    background-color: #fff;
}

.black-row {
    background-color: $black;
    color: #fff;
}


h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    color: $black;
}

h2 {
    font-size: 4rem;
}

p {
    color: $black;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 1.4rem;
}

.logo {
    width: 20vw;
    height: 20vw;
    margin: 0 auto;
    font-size: 10vw;
    // display: block;
    // background-image: url(../imgs/logo.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // transition: all .3s ease;
    // background-position: center center;
}

#menu-home {
    font-size: 4vw;
    font-family: "Poppins", sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}

#menu-home {
    border-left: 2px solid $black;
    border-right: 2px solid $black;
}

#menu-home li {
    margin: 0;
    padding: 10px 20px;
    line-height: 1;
    border-bottom: 2px solid $black;
}

#menu-home li:last-of-type {
    border-bottom: none;
}

// #menu-home li:before {
//     content: '';
//     width: 3.5vw;
//     height: 3.5vw;    
//     display: inline-block;
//     transition: all .3s ease;
//     background-color: $red;
// }

// #menu-home li:hover:before{
//     width: 5vw;
// }

.about-content {
    background: $black;
    background: linear-gradient(45deg,$red 40%, $black 40%);
    padding: 80px 0;
   
}

.red-home {

    // background-image: url(../imgs/transparent-big.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: right center;
}

.about-text {
    padding: 60px 120px;
    background-color: #fff;
}

.projects-content {
    background-color: $yellow;
    padding: 80px 0;
}

.projects-text {
    padding: 60px 120px;
    background-color: #fff;
    margin-left: 30px;
}

.project-row {
    height: 100%;
}

.project {
    margin: 0 auto 30px auto;
    padding-bottom: 100%;
    border: 10px solid #fff;
    text-align: center;
  }
  
// .project:before {
//     content: "";
//     display: block;
//     padding-bottom: 100%;
//     border: 10px solid #fff;
//   }

  .project a {

  }