// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
#main-nav {
    padding: 0;
    margin: 0;
}

.header {
	width: 100%;
    margin: 0;
    // background-image: url(../imgs/scent.svg);
    // background-size: cover;
    // background-position: left center;
    background-color: #000;
}

.header .top-menu {
    padding-right: 0;
    padding-left: 0;
}

.wrapper {
    padding: 0;
}

.white-row {
    background-color: #fff;
}

.black-row {
    background-color: $black;
    color: #fff;
}


h1, h2, h3, h4, h5 {
    font-family: "Poppins", sans-serif;
    color: $black;
    font-weight: 600;
    text-transform: lowercase;
}

h2 {
    font-size: 4vw;
}

p {
    color: $black;
    font-size: 1.5rem;
    line-height: 1.5em;
    margin-bottom: 1.4rem;
}

.logo h1{
    // width: 20vw;
    // height: 20vw;
    margin: 0 auto;
    font-size: 12vw;
    text-transform: lowercase;
    text-align: left;
    color: #fff;
    // display: block;
    // background-image: url(../imgs/logo.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // transition: all .3s ease;
    // background-position: center center;
}

#menu-home {
    font-size: 2vw;
    font-family: "Poppins", sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
    border-left: 2px solid $black;
    border-right: 2px solid $black;
}

#menu-home li {
    margin: 0;
    padding: 10px 20px;
    line-height: 1;
    border-bottom: 2px solid #fff;
    transition: all .3s ease;   
}

#menu-home li a {
    display: block;
    width: 100%;
    height: auto;
    color: #fff;
    text-transform: lowercase;
}

#menu-home li:hover {
    box-shadow: inset 22px 0 0 0 $red;
    padding-left: 32px;
    text-decoration: none;
}

#menu-home li:last-of-type {
    border-bottom: none;
}

#menu-home li a:hover {
    text-decoration: none;
}
// #menu-home li:before {
//     content: '';
//     width: 3.5vw;
//     height: 3.5vw;    
//     display: inline-block;
//     transition: all .3s ease;
//     background-color: $red;
// }

// #menu-home li:hover:before{
//     width: 5vw;
// }

#content {
    background-color: $black;
}

.about-content {
    background: $black;
    // background: linear-gradient(45deg,$red 20%, $black 20%);
    padding: 80px 0;   
    background-image: url(../imgs/pent-red.svg);
    background-position: bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
}

.red-home {

    // background-image: url(../imgs/transparent-big.svg);
    // background-size: contain;
    // background-repeat: no-repeat;
    // background-position: right center;
}

.about-text, .projects-text {
    padding: 60px 5vw;
    background-color: #fff;
}

.projects-content {
    background-color: $red;
    background-repeat: no-repeat;
    background-position: top right;
    background-image: url(../imgs/pent-black.svg);
    background-position: top right;
    background-size: 55%;
    background-repeat: no-repeat;
    padding: 80px 0;
}

.project-row {
    height: 100%;
}

.projects-text {
    height: 550px;
    overflow: hidden;
}

.project {
    margin: 0 auto 30px auto;
    height: 550px;
    border: 35px solid #fff;
    text-align: center;
    background-color: #fff;
    overflow: hidden;
    position: relative;
  }
  

  .project-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }
// .project:before {
//     content: "";
//     display: block;
//     padding-bottom: 100%;
//     border: 10px solid #fff;
//   }

.project-link {
    display: block;
    position: absolute;
    z-index: 4;
    font-size: 2vw;
    bottom: 10px;
    left: 15px;
    padding: 7px 15px;
    background-color: $black;
    color: #fff;
    line-height: 1;
    transition: all .6s ease;
}

.project-link:hover{
    padding-left: 32px;
    color: #fff;
    box-shadow: inset 22px 0 0 0 $red;
}

  .see-more {
    font-size: 2rem;
    padding: 10px 20px;
    background-color: $gray;
    display: block;
    margin: 50px auto;
    text-align: center;
    max-width: 400px;
    box-shadow: -5px 5px 0 #000;
    border: 2px solid #000;
    transition: all .6s ease;
  }


  .see-more:hover{
    box-shadow: 5px 5px 0 #000;
  }

.people-content{
    background-color: $black;
    //background-image: url(../imgs/br-grid.svg);
    background-image: url(../imgs/scent-red-top.svg);
    background-position: top;
    background-size: 130vw;
    background-repeat: no-repeat;
    padding: 500px 0;
}

.graph {  
    height: 400px;
}

.home-header {
    font-size: 7vw;
    font-weight: 600;
    margin: 0 0 40px 0;
    line-height: 1.2;
}

.members-link {
    color: #fff;
    line-height: 1;
    margin-top: -20px;
    display: block;
    text-transform: lowercase;
    transition: all .6s ease;
}

.members-link:hover {
    color: #fff;
    box-shadow: inset 22px 0 0 0 $red;
    padding-left: 32px;
    text-decoration: none;
}

.member-link {
    font-size: 4vw;
    font-weight: 600;
    color: #fff;
}

.home-person {
    border: 10px solid #fff;
    mix-blend-mode: hard-light;
    -webkit-filter: saturate(0);
    filter: saturate(0);
    background-size: cover;
    background-position: center center;
}

// .home-person img {
//     object-fit: cover;
//     mix-blend-mode: hard-light;
//     -webkit-filter: saturate(0);
//     filter: saturate(0);
// }

.yellow {
    background-color: $yellow;
}

 .orange {
    background-color: $orange;
    height: 100%;
}

.red {
    background-color: $red;
}

.gray {
    background-color: $dark-gray;
}

.tall-person {
    height: 100%;
    overflow: hidden;
}

.med-person{
    width: 100%;
    height: 340px;
    overflow: hidden;
}

.short-person {
    height: 340px;
    overflow: hidden;
    margin-bottom: 30px;
}

.short-person img, .med-person img, .tall-person img {
    height: 80%;
    width: 100%;
}

.last-img {
    margin-bottom: -30px;
}


//NEWS
.news-content {
    background-color: #fff;
    padding: 280px 0 280px 0;
    background-image: url(../imgs/graph-black-top.svg), url(../imgs/ant-bodies.svg),  url(../imgs/poly.svg);
    background-position: top center, bottom center, bottom center;
    background-repeat: repeat-x, repeat-x, repeat-x;
    background-size:  contain, contain, 100px;
}

.news-content .home-header {
    margin-top: 100px;
    margin-bottom: 70px;
    color: $black;
}

.news {
  text-align: center;
  border: 2px solid $black;
  margin-bottom: 40px;
  text-align: left;
  box-shadow: -5px 5px $yellow;
  transition: all .6s ease;
  position: relative;
  font-size: 2rem;
  line-height: 1;
  display: block;
  text-transform: lowercase;
  width: 100%;
  padding: 20px 40px;
}

.news:before {
    content: "";
    position: absolute;
    bottom: -22px;
    left: 60px;
    border: 0;
    border-right-width: 30px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent $yellow;
    display: block;
    width: 0;
}



.news-content .col-md-3:nth-of-type(2n) .news{
    margin-top: 80px;
    // background: $black;
    // color: #fff;
    box-shadow: -5px 5px $orange;
    transition: all .6s ease;
}

.news-content .col-md-3:nth-of-type(2n) .news:before{
    border-color: transparent $orange;
}

.news-content .col-md-3:nth-of-type(3n) .news:before{
    right: 70px;
    left: auto;
    border-right-width: 0px;
    border-left-width: 30px;
}

.news-content .col-md-3:nth-of-type(4n) .news:before{
    right: 40px;
    left: auto;
}

// .news:hover {
//     box-shadow: -8px 8px $red;
// }

.news-date {
    font-size: .7rem;
    padding: 10px 0 40px 0;
}

.entry-footer {
    background-color: $black;
}


//lab member single pages 

#member-content #main {
    width: 100%;
    background-color: $black;
    color: #fff;
}

.member-img-holder {
    position: relative;
    margin: 100px;    
}

#member-content h1 {
    color: #fff;
    font-size: 7vw;
    margin-top: 150px;
    text-align: center;
}

.member-img-holder:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    background-image: url(../imgs/member-overlay.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media only screen and (max-width: 700px) {
    #menu-home {
        border-top: 2px solid $black;
        border-left: none;
        border-right: none;
    }
    
    #menu-home li a {
        font-size: 7vw;
    }

    .black-block{
        padding-top: 30px;
    }

    .projects-text, .about-text {
        padding: 20px;
    }

    .projects-text {
        margin-left: 0;
    }
  }